server:
  port: 5052

kafka:
  bootstrapServersConfig: 'broker:29092'
  schemaRegistryUrlConfig: 'http://schema-registry:8081'

  topics:
    preferences: 'preferences'
    balance: 'balance'

  stateStores:
    preferencesReadModel: 'preferences-read-model-state'
    balanceReadModel: 'balance-read-model-state'
    historyReadModel: 'history-read-model-state'
